@media (min-width: 1001px) {
  .LogoPath {
    padding: 1vh 0 0 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .LogoPath p {
    font-size: 5em;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    margin: 0;
    color: rgb(255, 255, 255);
    padding-left: 1vw;
  }

  .LogoPathMobile {
    display: none;
  }
}
